<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_SolrCategorySwitch>
            <version>0.1.0</version>
        </IntegerNet_SolrCategorySwitch>
    </modules>
    <global>
        <models>
            <integernet_solrcategoryswitch>
                <class>IntegerNet_SolrCategorySwitch_Model</class>
            </integernet_solrcategoryswitch>
        </models>
        <resources>
            <integernet_solrcategoryswitch_setup>
                <setup>
                    <module>IntegerNet_SolrCategorySwitch</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </integernet_solrcategoryswitch_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <integernet_solrcategoryswitch>
                    <files>
                        <default>IntegerNet_SolrCategorySwitch.csv</default>
                    </files>
                </integernet_solrcategoryswitch>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <integernet_solrcategoryswitch>
                        <type>singleton</type>
                        <class>integernet_solrcategoryswitch/observer</class>
                        <method>controllerActionPredispatchCatalogCategoryView</method>
                    </integernet_solrcategoryswitch>
                </observers>
            </controller_action_predispatch_catalog_category_view>
        </events>
    </frontend>
</config>